[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=2.2.3"
pyarrow = "~=17.0.0"
mysql-connector-python = "~=9.0.0"
sqlalchemy = "~=2.0.35"

[dev-packages]

[requires]
python_version = "3.12"
